.header { width: 100%; margin: 0 0 10px; padding: 0; }
.asset-scrollar { width: 100%; margin: 0 0 10px; padding: 0; }
.banner-section { width: 100%; margin: 0 0 10px; padding: 0; }
.blog-scrollar { width: 100%; margin: 0 0 10px; padding: 0; }
.table-section { width: 100%; margin: 0 0 10px; padding: 0; }
.footer { width: 100%; margin: 0; padding: 0; }
